{% load static i18n humanize %}
{% load thumbnail %}

<li class="message-item d-flex mb-3">
    <img src="{{ message.sender.get_picture }}" class="user-image picture rounded-circle flex-shrink-0"
         width="45" height="45"
         alt="{% trans 'User Image' %}">
    <div class="message-content ms-3 flex-grow-1">
        <div class="message-header">
            <strong>
                <a href="{% url 'users:detail' message.sender.username %}" class="text-decoration-none">{{ message.sender.get_profile_name|title }}</a>
            </strong>
            <small class="timestamp ms-2">{{ message.timestamp|date:'N d G:i' }}</small>
        </div>
        <div class="message">
            {{ message.message }}
        </div>
    </div>
</li>
