{% load static i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <meta name="description" content="Antisocial Network">
    <meta name="author" content="Gustavo Bakker">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <title>Antisocial Network</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Custom fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&family=Audiowide&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link href="{% static 'css/creative.css' %}?v=2" rel="stylesheet">
  </head>
  <body id="page-top">
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="floating">
              {% trans 'The Antisocial Network' %}
              <span>For those who prefer quality over quantity</span>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">{% trans 'A different social experience focused on meaningful connections without the distractions of traditional social media. Join us and rediscover authentic online interactions.' %}</p>
            <a class="btn btn-primary btn-xl" href="{% url 'account_login' %}">
              {% trans 'Get Started' %} <i class="fas fa-arrow-right ml-2"></i>
            </a>
          </div>
        </div>

        <div class="features d-none d-md-flex">
          <div class="feature-item">
            <i class="fas fa-lock"></i>
            <span>Privacy Focused</span>
          </div>
          <div class="feature-item">
            <i class="fas fa-user-friends"></i>
            <span>Quality Connections</span>
          </div>
          <div class="feature-item">
            <i class="fas fa-code"></i>
            <span>Open Source</span>
          </div>
        </div>
      </div>
    </header>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>