{% load i18n %}
{% load humanize static %}
{% load thumbnail %}
{% load urlize_target_blank %}

{% for reply in thread %}
    <li class="infinite-item comment-item" news-id="{{ reply.uuid_id }}">
        <div class="comment-container">
            <div class="comment-avatar">
                <a href="{% url 'users:detail' reply.user.username %}">
                    <img src="{{ reply.user.get_picture }}" class="rounded-circle"
                         alt="{% trans 'User Image' %}">
                </a>
            </div>
            <div class="comment-content">
                <div class="comment-header">
                    <div class="comment-author">
                        <a href="{% url 'users:detail' reply.user.username %}" class="fw-semibold text-decoration-none">
                            {{ reply.user.username }}
                        </a>
                    </div>
                    <div class="comment-actions">
                        <span class="comment-time text-muted small">{{ reply.created|naturaltime }}</span>
                        {% if reply.user == request.user %}
                            <a href="#" class="text-danger ms-2 remove-news" data-news-id="{{ reply.uuid_id }}" title="{% trans 'Delete' %}">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="comment-body">
                    <p>{{ reply.content|urlize|urlize_target_blank }}</p>
                </div>

                {% if reply.meta_url %}
                    <a href="{{ reply.meta_url }}" target="_blank" class="card meta">
                        {% if reply.meta_image %}
                            <div class="card-img-top" style="background-image: url({{ reply.meta_image }})"></div>
                        {% endif %}
                        <div class="card-body">
                            {% if reply.meta_title %}
                                <h5 class="card-title">{{ reply.meta_title }}</h5>
                            {% endif %}
                            {% if reply.meta_description %}
                                <p class="card-text">{{ reply.meta_description }}</p>
                            {% endif %}
                            {% if reply.meta_url %}
                                <p class="card-btn">{{ reply.meta_url }}</p>
                            {% endif %}
                        </div>
                    </a>
                {% endif %}

                {% if reply.image %}
                    {% thumbnail reply.image "300x200" crop="center" as im %}
                        <div class="comment-image mt-2">
                            <img src="{{ im.url }}" class="img-fluid rounded" alt="Comment image">
                        </div>
                    {% empty %}
                        <div class="comment-image mt-2">
                            <img src="{{ reply.image.url }}" class="img-fluid rounded" alt="Comment image">
                        </div>
                    {% endthumbnail %}
                {% endif %}

                <div class="comment-footer">
                    <div class="comment-interactions">
                        <a href="#" class="like" title="{% for i in reply.get_likers %}{{ i }}&#10;{% endfor %}">
                            {% if request.user in reply.get_likers %}
                                <i class="heart fa fa-heart text-danger" aria-hidden="true"></i>
                            {% else %}
                                <i class="heart fa fa-heart-o" aria-hidden="true"></i>
                            {% endif %}
                            <span class="like-count">{{ reply.count_likers }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </li>
{% endfor %}
